page-home {
.content{
    background-image: url("../assets/imgs/10.png");
    background-repeat: no-repeat;
    background-size: 10cm;
}

.list{
    margin-bottom:20px;
}

[ion-item]{
    
    background-color: rgba(218, 238, 255, 0.829);
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 10px;
}


}
