<ion-header>
  <ion-navbar color="alice">
    <ion-title text-center>
        Codetribe Curriculum 2018
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>

  <button ion-item no-lines *ngFor= "let course of arrCourses" (click)="details(course)" >
    
    <ion-icon name="{{course.icon}}" item-left></ion-icon>
      <h2 id="head">COURSE {{course.number}}</h2>
      <h2>{{course.title}} </h2>
    <h3>Duration: {{course.weeks}} Weeks  </h3><br>


    <div *ngFor= "let lesson of course.lessons" >
        <h2><p>Title: {{lesson.title}}</p></h2>
      <p>Lesson {{lesson.number}}: {{lesson.description}}</p><br>
    </div>

  </button>


</ion-content>
